{% extends "_base.html" %}
{% load static i18n%}
{% load crispy_forms_tags %}

{% block CSS %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock CSS %}

{% block content %}
<div class="signup-page">
    <div class="signup-card card shadow-lg border-0 rounded-4 p-4">
        <h3 class="text-center mb-4 fw-bold">{% trans "Change password" %}</h3>

        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-grid mt-4">
                <button type="submit" class="btn btn-primary btn-lg rounded-pill">
                    {% trans "Change" %}
                </button>
            </div>
        </form>

        <div class="text-center mt-3">
            <p class="mb-0">
                <a href="#" class="text-primary fw-bold">{% trans "Back to profile " %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
